    body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    }

    .mb-5{
        margin-top: 8rem !important;
    }

    .mb-5{
        margin-bottom: 8rem !important;
    }


    .navbar {
        background-color: #ffffff;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.173);
        z-index: 10;
    }

    .nav-link {
        color: #000000; 
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.3px;
        transition: 0.4s;
    }

    .nav-link:hover {
        color: #0000009c;
    }

    #loginbtn:hover {
       color: white;
       background-color: #000000;
       border-radius: 8%;
    }

    #signupbtn:hover {
       color: white;
       background-color: #000000;
       border-radius: 8%;
    }

    #logo { 
        padding: 0px;   
        font-size: 30px;
        font-weight: 700;
        color: #000000;
        transition: 0.4s;
    }

    #logo:hover {
        transform: scale(1.1);
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 400;
        display: none;
    }

    #auth {
        background-color: #ffffff;
        color: #000000;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 
        position: fixed; 
        width: 28%; 
        height: 65%; 
        z-index: 500;
        padding: 20px;
        border-radius: 20px;
        display: none; 
    }

    #auth h4 {
        margin-left: 2px;
        font-size: 18px;
        font-weight: 600;
    }

    .exitbtndiv {
       top: 20px;
       left: 20px;
       position: absolute;
   }

    .logsignforms {
     width: 100%;
     position: relative;
     left: 0px;
    }

    .logsignforms2 {
     width: 100%;
     position: relative;
     left: 0px;
     margin-top: 100px;
    }


    .exitbtn {
        width: 40px;
        height: 40px;
        padding: 0px;
        padding-left: 7px;
        top: -10px;
        left: -15px;
        position: relative;
        border: 0px;
    }

    .exitbtn:hover{
        background-color: #e6e2e2dc;
    }

    
    #emailt{
        padding: 0 10px;
        color: #606060;
        font-size: 14px;
    }

    .continuea {
        color: #ffffff;
        width: 100%;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        border: 0px;
        transition: 0.3s;
    }

    .continuea:hover {
        opacity: 50%;
    }

    .authbutton {
        color: #ffffff;
        background-color: #000000;
        transition: 0.4s;
    }

    .authbutton:hover {
        color: #ffffff;
        background-color: #000000;
        opacity: 65%;
    }

    .conem{
        padding-inline: 65px;
    }

    .conem::before {
        height: 1px;
        display: flex !important;
        -webkit-box-flex: 1;
        background-color: gray;
        flex-grow: 1; 
        content: "";
        align-items: center;
        margin-left: auto;
    }

    .conem::after {
        height: 1px;
        display: flex !important;
        -webkit-box-flex: 1;
        background-color: gray;
        flex-grow: 1;
        content: "";
        align-items: center;
        margin-right: auto;
    }

    #hero {
        display: flex;
        height: 67.5vh;
        align-items: center;
        background: linear-gradient( rgba(88, 57, 39, 0.272), rgba(88, 57, 39, 0.209)), url("Foodtop-photo.jpg");
    }

    #hero h1 {
        font-size: 50px;
        color: #ffffff;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
        font-weight: 700;
    }

    #searchbtn {
        font-size: 16px;
        font-weight: 600;
        background-color: white;
        color: #000000;
        transition: 0.3s;
    }

    #searchbtn:hover {
        background-color: #000000;
        color: white;
    }

    #vacancy a{
        text-decoration: none;
        font-weight: 700;
        font-size: 1.1rem;
        transition: 0.5s;
    }

    #vacancy a:hover{
        text-decoration: underline;
    }

    #vacancy h3{
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 45px;
        font-size: 2rem;
        color: #000000;
    }

    #vacancy p{
        font-weight: 600
    }

    #vacancy #firstc{
        width: 14rem;
        margin-left: 22.5rem;
    }

    #vacancy #secondc{
        width: 14rem;
        margin-left: 10rem;
    }

    #firstcard{
        margin-bottom: 70px;
    }

    #firsttext{
        max-width: 400px;
        margin-left: 130px;
    }

    #firsttext h3{
        font-weight: 700;
        font-size: 42px;
        letter-spacing: 1.8px;
        color: #000000;
    }

    #firsttext p{
        font-weight: 400;
        font-size: 17px;
    }

    #firstbtn{
        color: white;
        background-color: #000000;
        transition: 0.3s;
        border-radius: 10px;
        font-size: 16px;
        margin-top: 10px;
    }

    #firstbtn:hover{
        color: rgba(255, 255, 255, 0.777);
        background-color: #000000;
    }

    #firstpic{
        max-width: 700px;
        max-height: 600px;
        margin-left: 50px;
    }

    #secondtext{
        max-width: 500px;
        margin-left: 100px;
    }

    #secondtext h3{
        font-weight: 700;
        font-size: 42px;
        letter-spacing: 1.8px;
        color: #000000;
    }

    #secondtext p{
        font-weight: 400;
        font-size: 17px;
    }

    #secondpic{
        max-width: 600px;
        max-height: 370px;
        margin-left: 50px;
    }

    #helpingtitle{
        font-weight: 700;
        letter-spacing: 1px;
        color: #000000;
    }

    #firstphoto {
        width: 550px;
        height: 550px;
    }

    #secondphoto {
        width: 550px;
        height: 550px;
    }

    #helpingcontainer{
        padding-left: 3px;
    }

    #helping h4{
        color: #000000;
        font-weight: 700;
        text-align: center;
        font-size: 48px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    #helping p{
        color: #000000;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
    }

    #thirdphoto {
        width: 550px;
        height: 550px;
    }

    #fourthphoto {
        width: 550px;
        height: 550px;
    }

    #helping a{
        color: white;
        background-color: #000000;
    }

    #helping a:hover{
        color: rgba(255, 255, 255, 0.777);
    }

    footer {
        background-color: #000000;
        color: #ffffff;
    }

    footer a{
        margin-top: 4px;
        margin-left: 150px;
        display: flex;
        text-decoration: none;
        color: rgb(196, 196, 196);
        font-size: 14px;
        font-weight: 500;
    }

    footer a:hover{
        text-decoration: underline;
    }

    #secondfooter a{
        margin-top: 4px;
        margin-left: 0px;
        margin-right: 10px;
        display: flex;
        text-decoration: none;
        color: rgb(196, 196, 196);
        font-size: 14px;
        font-weight: 500;
    }

    footer svg{
        margin-right: 10px;
    }

    footer h4{
        color: rgb(196, 196, 196);
        font-size: 21px;
        font-weight: 400;
        margin-right: 10px;
        margin-bottom: 22px;
    }


    @media (max-width: 430px) {
    /* General */
    body { font-size: 14px; }
    h1 { font-size: 30px !important; }
    h3 { font-size: 28px !important; }
    p { font-size: 14px !important; }


    /* #hero */
    #hero { height: 50vh; }
    #hero h1 { font-size: 30px; }
    #hero p { font-size: 16px; }
    #hero .input-group { width: 250px !important; }
    #hero a { font-size: 14px; }
    #autocomplete {top: 33% !important; left: 27.5% !important;}

    /* #vacancy */
    #vacancy {margin-top: 64px !important; margin-bottom: 64px !important;}
    #vacancy .row { flex-direction: column; }
    #vacancy img {width: 256px; height: 256px;}
    #vacancy #firstc, #vacancy #secondc { width: 100%; margin-left: 0 !important; }

    /* #capability */
    #capability .row {justify-content: center;}
    #firstcard {flex-direction: column-reverse;}
    #capability h3 {text-align: center; padding-top: 10px; }
    #capability a {align-items: center !important; display: inline-block !important; }
    #firstpic, #secondpic { max-width: 100% !important; max-height: 100% !important; margin-left: 0 !important; margin-top: 20px; }
    #firsttext, #secondtext { max-width: 100% !important; margin-left: 0 !important; text-align: center; }

    /* #helping */
    #helping .row { flex-direction: column; margin-top: 0px !important; text-align: center !important;}
    #helping .col-md-6 {width: 100%; padding-right: 4px;}
    #secondhelp {padding-top: 0px !important;}
    #firstphoto, #secondphoto, #thirdphoto, #fourthphoto { width: 300px !important; height: 300px !important; margin-top: 20px; }

    /* #footer */
    #footer {padding-bottom: 15px;}
    footer .col { width: 100%; margin-bottom: 20px; }
    footer a { margin-left: 0 !important; font-size: 13px; text-align: center;}
    #secondfooter { flex-direction: column; align-items: center; }
    #socialimg {margin-top: 4px;}

    /* #auth */
    #auth {width: 80%; height: 70% !important;}
    .conem {padding-inline: 20px;}
}

@media (max-width: 390px) {
    footer a { margin-left: 0 !important; font-size: 12px; text-align: center;}
    #autocomplete {top: 34% !important; left: 25% !important;}
}


