    body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    }

    .mb-5{
        margin-top: 8rem !important;
    }

    .mb-5{
        margin-bottom: 8rem !important;
    }


    .navbar {
        background-color: #ffffff;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.173);
        z-index: 10;
    }

    .nav-link {
        color: #000000; 
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.3px;
        transition: 0.4s;
    }

    .nav-link:hover {
        color: #0000009c;
    }

    header #navbar-container {
        margin-right: 19vh;
    }

    #loginbtn:hover {
       color: white;
       background-color: #000000;
       border-radius: 8%;
    }

    #signupbtn:hover {
       color: white;
       background-color: #000000;
       border-radius: 8%;
    }

    #logo { 
        padding: 0px;   
        font-size: 30px;
        font-weight: 700;
        color: #000000;
        transition: 0.4s;
    }

    #logo:hover {
        transform: scale(1.1);
    }

    #hero {
        display: flex;
        height: 67.5vh;
        align-items: center;
        background: linear-gradient( rgba(88, 57, 39, 0.272), rgba(88, 57, 39, 0.209)), url("Foodtop-photo.jpg");
    }

    #hero h1 {
        font-size: 50px;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }

    #hero p {
        font-size: 20px;
        color: #ffffff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }

    #hero a {
        font-size: 16px;
        font-weight: 600;
        background-color: white;
        color: #000000;
        transition: 0.3s;
    }

    #hero a:hover {
        background-color: #000000;
        color: white;
    }

    .text-warning:hover{
        transition: 0.4s;
        color: rgba(255, 255, 0, 0.527)
    }

    #vacancy a{
        text-decoration: none;
        font-weight: 700;
        font-size: 1.1rem;
    }

    #vacancy h3{
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 45px;
        font-size: 2rem;
    }

    #vacancy p{
        font-weight: 600
    }

    #vacancy #firstc{
        width: 14rem;
        margin-left: 22.5rem;
    }

    #vacancy #secondc{
        width: 14rem;
        margin-left: 10rem;
    }

    #firsttext{
        max-width: 400px;
        margin-left: 110px;
    }

    #firsttext h3{
        font-weight: 700;
        font-size: 42px;
        letter-spacing: 1.8px;
    }

    #firsttext p{
        font-weight: 400;
        font-size: 17px;
    }

    #firstbtn{
        color: white;
        background-color: #000000;
        transition: 0.3s;
        border-radius: 10px;
        font-size: 16px;
        margin-top: 10px;
    }

    #firstbtn:hover{
        color: rgba(255, 255, 255, 0.777);
        background-color: #000000;
    }

    #firstpic{
        max-width: 700px;
        max-height: 600px;
        margin-left: 50px;
    }

